
.col-md-10.col-md-offset-1
	.row
		.panel.panel-default
			.panel-heading
				.center
					%h1 Comments:
			.panel-body
				- @comments.each do |comment|
					- if comment.comment
						%h4= comment.comment
						%p
						- if comment.user_id
							= User.find(comment.user_id).email
			.panel-footer
				= form_tag create_comment_path, method: "post" do
					= hidden_field_tag "id", @pin.id
					.form-group
						= text_area_tag :comment
					= submit_tag "Submit", class: "btn btn-primary"
