%div.comment{ :id => "comment-#{comment.id}" }
	- if current_user == comment.user
		%hr
		= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
	%h4
		= comment.user.email
		%small= formatted_time(comment.updated_at)
	%p= comment.body