<% if activity.trackable %>
<div class="activity-comment">
  <div class="info">
    <h4 class="name"><%= link_to activity.owner.email, user_path(activity.owner) %></h4>
    <span class="action">commented on a <%= link_to 'pin', activity.trackable.commentable %></span>
  </div>
  <div class="content">
    <h4><small><%= activity.trackable.comment_html %></small></h4>
  </div>
	<%= fa_icon 'clock-o' %>
	<%= relative_time(activity.created_at) %> ago
</div>
<% end %>